# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Dependency directories
jspm_packages/

# Build directories
dist/
build/

# IDE files
.vscode/
.idea/

# Environment variables
.env

# MacOS files
.DS_Store

# Supabase client file
client/src/client.js